aiohttp @ file:///C:/ci/aiohttp_1614361212023/work
async-timeout==3.0.1
attrs @ file:///tmp/build/80754af9/attrs_1604765588209/work
bokeh @ file:///D:/bld/bokeh_1614595323322/work
boto==2.49.0
boto3 @ file:///tmp/build/80754af9/boto3_1615993973903/work
botocore @ file:///tmp/build/80754af9/botocore_1616093707856/work
brotlipy==0.7.0
cachetools @ file:///tmp/build/80754af9/cachetools_1611600262290/work
certifi==2020.12.5
cffi @ file:///C:/ci/cffi_1613247431367/work
chardet @ file:///C:/ci/chardet_1605296577955/work
corextopic==1.0.6
cryptography @ file:///C:/ci/cryptography_1615532586162/work
cycler==0.10.0
decorator==4.4.2
gensim @ file:///C:/ci/gensim_1613994497440/work
google-api-core @ file:///C:/ci/google-api-core-split_1613980333946/work
google-auth @ file:///tmp/build/80754af9/google-auth_1616008050444/work
google-cloud-core @ file:///tmp/build/80754af9/google-cloud-core_1613414810663/work
google-cloud-storage @ file:///tmp/build/80754af9/google-cloud-storage_1601307969662/work
google-crc32c @ file:///C:/ci/google-crc32c_1613234249694/work
google-resumable-media @ file:///tmp/build/80754af9/google-resumable-media_1608056254223/work
googleapis-common-protos @ file:///C:/ci/googleapis-common-protos-feedstock_1613725156654/work
idna @ file:///home/linux1/recipes/ci/idna_1610986105248/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1612119311452/work
jmespath @ file:///tmp/build/80754af9/jmespath_1594304593830/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1612898609989/work
kiwisolver @ file:///D:/bld/kiwisolver_1610099953470/work
llvmlite==0.36.0
MarkupSafe @ file:///D:/bld/markupsafe_1610127684851/work
matplotlib @ file:///D:/bld/matplotlib-suite_1611858892114/work
multidict @ file:///C:/ci/multidict_1607349747897/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1598210780226/work
numba @ file:///D:/bld/numba_1616028813127/work
numpy @ file:///D:/bld/numpy_1612953195634/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1612459636436/work
pandas @ file:///D:/bld/pandas_1614698100826/work
Pillow @ file:///D:/bld/pillow_1615244127530/work
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
PySocks @ file:///C:/ci/pysocks_1605307512533/work
python-dateutil==2.8.1
python-louvain @ file:///home/conda/feedstock_root/build_artifacts/python-louvain_1609125227889/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
PyYAML==5.4.1
requests @ file:///tmp/build/80754af9/requests_1608241421344/work
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
s3transfer @ file:///tmp/build/80754af9/s3transfer_1610404175646/work
scikit-learn @ file:///C:/ci/scikit-learn_1614446712466/work
scipy @ file:///C:/bld/scipy_1615956155399/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
smart-open @ file:///tmp/build/80754af9/smart_open_1614023135845/work
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
tornado @ file:///D:/bld/tornado_1610094910414/work
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1602702424206/work
urllib3 @ file:///tmp/build/80754af9/urllib3_1615837158687/work
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306162074/work
wincertstore==0.2
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1614346479764/work
yarl @ file:///C:/ci/yarl_1606940155993/work
